html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Agutina;
    src: url('./fonts/Agutina\ 400.otf');
}

.logoName {
    font-family: "Agutina", sans-serif;
    font-size: 30px;
    color: #4299e1;
    font-weight: bold;

}

.logoName>span {
    font-weight: normal;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.228);
}
.bars{
    display: none;
}



.mynavs{
    display: block;
}
@media only screen and (max-width: 902px) {
    .bars{
        display: block;
    }
    .mynavs{
        position: absolute;
        top: 87px;

        width:50% ;
        display: flex;
        background-color: white;
        box-shadow: 0px 5px 10px gray;
        height: max-content ;
         
        left: -100%;
        /* justify-content: space-around; */
        justify-content: flex-start;
        flex-direction: column;
        padding: 20px 0px;
        padding-bottom: 50px;
        /* align-items: center; */
      transition: all 0.5s ease;

    }
    .mynavsToggle{
        left: 0%;
    }
    .mynavs>a{
        
        margin-top: 20px;
    }
    .mynavs>button{
        
        margin-top: 20px;
        margin-right: 35px;
    }
  }